<!DOCTYPE html>
<html lang="pt-br">
<head>
    
            
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{url_for('static' , filename="estilo.css")}} />
    <link rel="icon" href="{{url_for('static' , filename='_imagens/favicon')}}">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.min.css">

<body>

    <title>SUSANA AZEVEDO</title>

    
    <h1 align="center" >
        Sejam Bem Vindos! 

    </h1>
    <h2 align="center">
        Ao Espaço Susana Azevedo 
    </h2>
    <p>Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório. 
        Tem raízes numa peça de literatura clássica em Latim, de 45 AC, tornando-o com mais de 2000 anos. 
        Richard McClintock, um professor de Latim no Colégio Hampden-Sydney, na Virgínia, 
        procurou uma das palavras em Latim mais obscuras (consectetur) numa passagem Lorem Ipsum, 
        e atravessando as cidades do mundo na literatura clássica, descobriu a sua origem. 
        Lorem Ipsum vem das secções 1.10.32 e 1.10.33 do "de Finibus Bonorum et Malorum" (Os Extremos do Bem e do Mal), por Cícero, 
        escrito a 45AC. Este livro é um tratado na teoria da ética, muito popular durante a Renascença. 
        A primeira linha de Lorem Ipsum, "Lorem ipsum dolor sit amet..." aparece de uma linha na secção 1.10.32.

        O pedaço mais habitual do Lorem Ipsum usado desde os anos 1500 é reproduzido abaixo para os interessados.
         As secções 1.10.32 e 1.10.33 do "de Finibus Bonorum et Malorum" do Cícero também estão reproduzidos na sua forma original, 
         acompanhados pela sua tradução em Inglês, versões da tradução de 1914 por H. Rackham.
    </p>
    <script>
       console.log('ola mundo')

    </script>
<hr>

<p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<hr>
</head>


<!--cabecalho inicio-->
<header class="container cabecalho">
<a href="index.html" class="logo"></a>

<button class="btmenu bgGradient"><i class="fas fa-bars" aria-hidden="true"></i>

</button>    

<nav class="menu">
    <a href="" class="btclose"><i class="fas fa-times" aria-hidden="true"></i></a>
    <ul>
        <li><a href=""></a>Inicio</li>
        <li><a href=""></a>Hair</li>
        <ul>
            <li><a href=""></a>Mega hair</li>
            <li><a href=""></a>luzes</li> 
            <li><a href=""></a>Alisamentos</li>
        </ul>
        <li><a href=""></a>Nails</li>
        <li><a href=""></a>Estética</li>
    </ul>
</nav>

</header>
<!--fim cabecalho-->

<!--banner-->
<div class="container banner">

</div>
<!--fim banner -->

<!--conteudo principal-->
<main class="container conteudoprincipal">

</main>
<!--fim principal-->

<!--newslatter-->
<section class="container newslatter">

</section>
<!-- fim newslatter-->

<
<table border="1"; width="70%"class="container tabela bgGradient">
    <tr>
        <td>    
            <h2><p>NOME</p></h2>
        </td>
        <td>    
            <h2><p>IDADE</p></h2>
        </td>
        <td>    
            <h2><p>E-MAIL</p></h2>
        </td>
        <td>    
            <h2><p>TELEFONE</p></h2>
        </td>
    </tr>    
    <tr>
        <td>    
            <p>Robson</p>
        </td>
        <td>    
            <p>36</p>
        </td>
        <td>    
            <p>spveiok@hotmail.com</p>
        </td>
        <td>    
            <p>(11)99999-9999</p>
        </td>
    </tr> 
</table> 


<!-- roda pé-->
<footer class="container roda pé bgGradient">

</footer>
<!-- fim roda pé-->
</body>

</html>