<!DOCTYPE html>
<html lang="pt-br">
<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href={{url_for('static' , filename="estilo.css")}} />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 500px)" href={{url_for('static' , filename="estilo_500px.css")}} />
    <link rel="icon" href="{{url_for('static' , filename='_imagens/favicon')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <!--<link rel="styleshheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css">-->
   <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>SUSANA AZEVEDO</title>

</head>

<body>

<!--cabecalho inicio-->
<header class="container cabecalho ">

<a href="index.html" class="logo"></a>

<button class="btmenu bgGradient"> <i class="fas fa-bars"></i>
</button>    

    <nav class="menu">
        <a href="#" class="btclose"><i class="fas fa-times" aria-hidden="true"></i></a>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="#">Hair</a></li>
            <li><a href="#">Mega hair</a></li>
            <li><a href="#">luzes</a></li> 
            <li><a href="#">Alisamentos</a></li>
            <li><a href="#">Nails</a></li>
            <li><a href="#">Estética</a></li>
        </ul>
    </nav>

</header>
<!--fim cabecalho-->

<!--banner-->
<div class="container banner">

    <div class="title"> 
        <h2>Sejam Bem Vindos! </h2>
        <h3>Espaço Susana Azevedo </h3>
    </div>

    <div class="buttons">
        <button class="btbutton  bgwhite btcadastro radius ">Cadastro <i class="fas fa-arrow-right"></i></button>
        <button class="btbutton bgBlack btsobre radius">Sobre <i class="far fa-question-circle"></i></button>
    </div>

</div>
<!--fim banner -->

<!--conteudo principal-->
<main class="container conteudoprincipal">

    <article class="servicos bgwhite radius">
        <a href="nails"><img src="{{url_for('static' , filename='_imagens/nail.png')}}"></a>
        <div class="textos">
            <a href="">Nails</a>
            <h4>Manicure e Pedicure</h4>
            <p>    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </article>

    <article class="servicos bgwhite radius">
        <a href="megahair"><img src="{{url_for('static' , filename='_imagens/megahair.png')}}"></a>
        <div class="textos">
            <a href="">Mega Hair</a>
            <h4>Alongamento</h4>
            <p>    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </article>

    <article class="servicos bgwhite radius">
        <a href=""><img src="{{url_for('static' , filename='_imagens/hair.png')}}"></a>
        <div class="textos">
            <a href="">Cabelos</a>
            <h4>Luzes e coloração</h4>
            <p>    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </article>

</main>
<!--fim principal-->

<!--newslatter-->
<section class="container newslatter bgGray">

    <div class="title">
        <h1>Inscreva-se</h1>
        <h2>E receba nossas novidades no seu E-mail</h2>
    </div>

    <div class="form">
        <form action="" type="post">
            <input type="text" name="" class="radius">
            <input type="submit" name="" value="Cadastro" class="radius btNewslatter" >
        </form>

    </div>
</section>
<!-- fim newslatter-->

<!-- roda pé-->
<footer class="container roda pé bgGradient">

    <div class="Icon">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-whatsapp"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="far fa-envelope"></i></a>
        <p class="direitos">
            copyright © 2019 todos os direitos reservados
        </p>
    </div>

</footer>
<!-- fim roda pé-->

<script src="https://kit.fontawesome.com/3c571969c8.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(".btmenu").click(function() {
        $(".menu").show();
    }  );
</script>

<script>
    $(".btclose").click(function() {
        $(".menu").hide();
    }  );
</script>
</body>

</html>